.action
  %h3
    Currently #{@current_event.standing? ? "standing" : "sitting"}
  .status
    You #{@current_event.standing? ? "stood up" : "sat down"} #{distance_of_time_in_words(@current_event.created_at, Time.now)} ago
    = form_for :event do |f|
      = f.hidden_field :standing, value: !@current_event.standing?
      - button_class = @current_event.standing? ? "standing" : "sitting"
      = f.submit @current_event.standing? ? "Sit" : "Stand", class: button_class

